@media screen and (min-width:768px) { 
    .mainBlog{
        .subMenu{
            display: flex;
            flex-direction: row;
            font-size: 0.8em;
            a{
                padding: 60px auto; 
                
            }
            a:hover{
                background-color: rgb(255, 195, 31);;
                color:white;
                font-weight: 500;
            }
            
        }
        
        .seccionBlog{
            .seccionBlogContenedor{
                &__cuerpo{
                    display: flex;
                    flex-direction: row;
                    &--texto{
                        width: 100%;
                        padding: 15px;
                    }
                }
            }
        }
    }
    footer{
        .footerSecciones{
            align-items:flex-start;
        }
    }
}